@import url('https://fonts.googleapis.com/css2?family=Signika:wght@500;700&display=swap');


body {
    background-color: rgba(202, 243, 235, 1);
    font-family: 'Signika', sans-serif;
}


/*Root Margin & Padding*/
* {
    margin: 0;
    padding: 0;
}


/*Navabar Styling*/
nav {
    font-family: 'Signika', sans-serif;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 10vh;
}

nav ul {
    list-style: none;
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.brand {
    display: flex;
    align-items: center;
    cursor: default;
}

.brand img {
    position: absolute;
    left: 0;
    height: 40px;
    padding: 0 15px;
}

/*Navbar Styling Ends*/




/*background styling*/
#Default {
    background-image: url(Assets/def6.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    opacity: 0.6;
    position: absolute;
    top: 0;
    z-index: -1;
    transition: opacity 1s ease-in;
}

.dynamicColor {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(45deg, #d2001a, #7462ff, #f48e21, #23d5ab, #c224e6);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;
    opacity: 1;
    z-index: -2;
}

@keyframes color {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/*background styling ends*/



/*main styling*/

/* hero contains container , player, bottom */
.hero{
    display: flex;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/*container styling*/
.container {
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 25%;
    /* border-radius: 10px; */
    justify-content: space-evenly;
    height: 75vh;
    
    
    background-color: rgba(6, 2, 89, 0.5);
}

.player{
    width: 75%;
    /* border-radius: 10px; */
    height: 75vh;
    color: #fff;
    
    background-color: rgba(123, 129, 2, 0.5);
}

.container h1 {
    color: black;
    text-shadow: 2px 2px 12px rgb(137, 179, 241);
    font-family: 'Signika', sans-serif;
    font-size: 20px;
    margin: 15px 0 0 20px;
    margin: 15px 0 0 20px;
}

/*container styling ends*/


.playlist{
    margin: 20px 0 0 20px;   
}

.fa-music{
    margin-right: 10px;
}

.playlist h4{
    font-size: 15px;
    font-weight: 200;
    font-family: 'Signika', sans-serif;
    color: gray;
    padding-bottom: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: all 0.3s linear;
}
.playlist h4:hover{
    color: white;
}

.playlist h4 span{
    position: relative;
    margin-right: 35px;
}
.playlist h4 span::before{
    content: '';
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: 2px solid gray;
    top: -3px;
    transition: all 0.3s linear;
}
.playlist h4:hover span::before{
    border: 2px solid white;
}

.playlist h4 i{
    display: none;
    padding-right: 8px;
}

.playlist .active{
    color: rgba(39, 146, 218, 1);
    text-shadow: 2px 2px 12px rgb(137, 179, 241);

}
.playlist .active span{
    display: none;
}
.playlist .active i{
    display: flex;
}


/*song list styling*/
.songList {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow-y: scroll;
    height: 70%;
    margin-top: 30px;
    padding: 5px;
    /* background-color: rgba(255, 255, 255, 0.1); */
    /* border: none; */
    /* box-shadow:inset 0 0 50px 100px rgba(255, 255, 255, 0.1); */
}

/*Scrollbar*/
/* width */
::-webkit-scrollbar {
    width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 7px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.5);
}

/*Scrollbar ends*/

/*song tiles styling*/
.songItem {
    font-size: 13px;
    display: flex;
    margin: 6px 10px;
    padding: 3px 10px;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 4px white;
    border-radius: 15px;
    transition: all 0.2s ease-in;
    cursor: pointer;
}

.songItem:hover {
    background-color: rgba(39, 146, 218, 0.8);
    box-shadow: 0 0 5px 5px #FFECD6;
    transform: scale(1.05);
    color:  #FFECD6;
}

.songItem img {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    padding: 3px 0;
    transition: all 0.2s ease-in;
    /* margin-right: 20px; */
}

.songItem img:hover {
    transform: scale(1.8);
    border-radius: 50%;
}

.timeStamp {
    margin: 0 10px;
}
/* 
.fa-play-circle {
    cursor: pointer;
    transition: all 0.15s ease-in;
}
.fa-play-circle:hover {
    color: #FFECD6;
    transform: scale(1.3);
}

.fa-step-backward{
    cursor: pointer;
    color: gray;
    transition: all 0.15s ease-in;
}
.fa-step-backward:hover{
    color: white;
    transform: scale(1.2);
}

.fa-step-forward{
    cursor: pointer;
    color: gray;
    transition: all 0.15s ease-in;
}
.fa-step-forward:hover{
    color: white;
    transform: scale(1.2);
} */

/*song tiles styling ends*/

/*main styling ends*/



/*footer styling*/
.bottom {
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px;

    /* color: #fff; */
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    /* padding: 0 20px; */
    
    box-shadow: #d7cfcf 0 0 100px 5px;
    background-color: rgba(148, 28, 4, 0.5);
    /* opacity: 0.3; */
    /* transition: opacity 0.2s ease-in-out; */
}
.bottom:hover {
    opacity: 1;
}


.songInfo {
    width: 23%;
    height: 45px;
    margin-right: 20px;
    padding-bottom: 5px;
    /* border: 2px solid white; */
    display: flex;
    align-items:flex-end;
    /* position: absolute;
    bottom: 10px;
    left: 1vw;
    font-family: 'Signika', sans-serif;
    justify-content: space-between;
    align-items: center; */
}

.songInfo img {
    margin: 0 5px;
    /* opacity: 0; */
    /* transition: opacity 0.3s ease-in-out; */
}
.songInfo h5{
    margin-left: 10px;
    font-size: large;
    font-weight: bolder;
    font-family: 'Signika', sans-serif;
    color: rgba(39, 146, 218, 1);
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    /* padding-bottom: 5px;
    cursor: pointer;
    display: flex;
    transition: all 0.3s linear; */
}
.songInfo h5 .subtitle{
    font-size: small;
    font-family: 'Signika', sans-serif;
    color: gray;
    line-height: 17px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.bottom i{
    color: white;
}

.bottom .icons{
    font-size: 20px;
    margin: 0 20px 0 30px;
    outline: none;
    display: flex;
    align-items: center;
    cursor: pointer;

}
.bottom .icons i{
    padding: 0 5px;
}
.bottom .icons .shuffle{
    margin-right: 10px;
    font-size: 23px;
}
.bottom .icons #downloadMusic{
    margin-left: 10px;
    font-size: 28px;
}
.bottom span{
    color: white;
    width:45px;
    /* border: 1px solid white; */
    font-weight: 400;
}

.bottom #currentStart{
    margin-left: 20px;
}

.bottom .bar{
    position: relative;
    width: 350px;
    height: 2px;
    background: rgba(105, 105, 170, 1);
    margin: 0 10px 0 15px;
}
.bottom .bar .bar2{
    position: absolute;
    background: rgba(39, 146, 218, 1);
    width : 50%;
    height: 100%;
    top : 0;
    transition: 1s linear;
}
.bottom .bar .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: rgba(39, 146, 218, 1);
    border-radius: 50%;
    left:-1px;
    top:-1px;
    transition: 1s linear;
}

.bottom .bar .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid rgba(39, 146, 218, 1);
    left: -7px;
    top: -7px;
    transition: 1s linear;
    box-shadow:inset 0 0 3px 1px rgb(17, 94, 145);
}
.bottom .bar input{
    position: absolute;
    width: 100%;
    left: -6px;
    top: -6px;
    cursor: pointer;
    z-index: 10;
    opacity: 0;
}

.bottom .vol{
    
    position: relative;
    width: 100px;
    background: rgba(105, 105, 170, 1);
    height: 2px;
    margin-left: 80px;
}

.bottom .vol i{
    position: absolute;
    font-size: 20px;
    left : -33px;   
    top: -8px;
}
.bottom .vol input{
    position: absolute;
    width: 100%;
    top: -7px;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
}

.bottom .vol .vol_bar{
       position: absolute;
    background: rgba(39, 146, 218, 1);
    width : 50%;
    height: 100%;
    top:0;
    transition: 1s linear;
}

.bottom .vol .dot{
    position: absolute;
    width: 5px;
    height: 5px;
    background: rgba(39, 146, 218, 1);
    border-radius: 50%;
    left:-1px;
    top:-1px;
    transition: 1s linear;
}

.bottom .vol .dot::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid rgba(39, 146, 218, 1);
    left: -7px;
    top: -7px;
    transition: 1s linear;
    box-shadow:inset 0 0 3px 1px rgb(17, 94, 145);
}

.progressBarBox {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 25px;
    background: linear-gradient(to right, #FFECD6, #4CB9E7, #3559E0, #0F2167);
    border-radius: 10px;
    margin: 0 10px;
    /* box-shadow: 0 0 15px 1px rgba(235, 237, 209, 0.5); */
    /* padding: 5px 10px; */
}

.progressBarBox:hover {
    box-shadow: 0 0 15px 1px rgba(235, 237, 209, 0.5);
}


#myProgressBar {
    width: 100%;
    cursor: pointer;
    appearance: none;
    background: linear-gradient(to right, #FFECD6, #4CB9E7, #3559E0, #0F2167);
    outline: none;
    height: 10px;
    border-radius: 10px;
    margin: 0 10px;
}

#myProgressBar:hover {
    height: 2px;
    background: linear-gradient(to right, #FFC436, #337CCF, #1450A3, #191D88);
}

#myProgressBar::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background: #e5c305;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease-in;
    border: 1.5px solid blue;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.2);
}

#myProgressBar::-webkit-slider-thumb:hover {
    transform: scale(1.2);
    border: 1.5px solid white;
}

/* .icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30%;
}

.icons i {
    cursor: pointer;
} */



/*footer styling ends*/



/*media queries*/



@media only screen and (max-width: 1190px) {
    .container {
        width: 75%;
        margin: auto;

    }

    .container h1 {
        font-size: 2rem;
    }

    .songList {
        margin: 10px 10px;
        padding: 10px 20px;
    }

    .bottom {
        height: 20vh;
    }

    .bottom .icons {
        width: 50%;
        transform: scale(0.8);

    }

    .bottom .songInfo {
        left: 5vw;
    }

    .progressBarBox {
        width: 90vw;
        height: 5px;
    }

    #myProgressBar {
        height: 5px;
    }

    .songInfo {
        font-size: 0.8rem;
    }


}

@media only screen and (max-width: 650px) {
    nav{
        /* background-color: red; */
        height: 8vh;
    }
    .container {
        width: 90%;
        margin: auto;
        height: 60vh;
    }
    .container h1 {
        font-size: 1.5rem;
    }

    .songList {
        margin: 10px 10px;
        padding: 10px 20px;
    }

    .songItem{
        font-size: xx-small;
    }

    .bottom {
        height: 20vh;
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .bottom .icons {
        width: 50%;
        transform: scale(0.8);

    }

    .bottom .songInfo {
        left: 5vw;
    }

    .progressBarBox {
        width: 90vw;
        height: 5px;
    }

    #myProgressBar {
        height: 5px;
    }

    .songInfo {
        font-size: 0.8rem;
    }

}


@media only screen and (max-height: 500px) {
    nav{
        /* background-color: red; */
        height: 8vh;
    }
    .brand img{
        height: 30px;
        position: absolute;
        top:0;
    }
}
